In this blog, we are going to explore the global climate data by performing several database query and write functions to see detailed behaviors of climate change in different regions.

Before we perform any coding, we would want to import all the necessary packages that we will use later on:

In [ ]:
import pandas as pd
import sqlite3
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from plotly import express as px
from sklearn.linear_model import LinearRegression
import calendar
import plotly.io as pio

Now we are ready to go!

# §1. Create a Database

To create the database we need, we want to connect to SQL, create oen database with three tables: **temperature, countries, and stations**, the data from which we will make use of.

In [ ]:
#build connection
conn = sqlite3.connect("climate.db")

In [ ]:
#prepare the temperature data as we wanted
def prepare_df(df):
    df = df.set_index(keys=["ID", "Year"])
    df = df.stack()
    df = df.reset_index()
    df = df.rename(columns = {"level_2" : "Month" , 0 : "Temp"}) 
    df["Month"] = df["Month"].str[5:].astype(int)
    df["Temp"] = df["Temp"] / 100
    return(df)

When one dataset is too large, we want to deal with it piece by piece using *df_iter*:

In [ ]:
df_iter = pd.read_csv("temps.csv", chunksize = 100000) 
for df in df_iter:
    df = prepare_df(df)
    df.to_sql("temperatures", conn, if_exists = "append", index = False)

In [ ]:
stations = pd.read_csv("station-metadata.csv")
stations.to_sql("stations", conn, if_exists = "replace", index = False)

In [ ]:
countries = pd.read_csv("countries.csv")
countries.to_sql("countries", conn, if_exists = "replace", index = False)

Now we use the *cursor* to take a quick look at what columns our tables have:

In [ ]:
cursor = conn.cursor()
cursor.execute("SELECT sql FROM sqlite_master WHERE type='table';")
for result in cursor.fetchall(): print(result[0])

In [ ]:
#don't forget to close the connection
conn.close()

# §2. Write a Query Function

After preparing our database, we want to actually take a close look at our data. The first question we want to ask is: how can we write a function (and a necessary query) so that we can look at the annual temperature changes for stations in a certain country over time?

Below is how I would write the required query:

In [ ]:
def query_climate_database(country, year_begin, year_end, month):
    """
    This query retrieves the data for a certain country
    with the given time period in the given month, and
    returns a DataFrame.
    """
    #connect to database
    conn = sqlite3.connect("climate.db")
    #write our command as a string
    cmd = \
    '''
    SELECT S.name,S.latitude,S.longitude,C.name as Country,
    T.year,T.month,T.temp
    FROM stations S
    LEFT JOIN temperatures T ON S.id = T.id
    LEFT JOIN countries C ON substring(T.id,1,2) = C.`FIPS 10-4`
    WHERE T.year >= {year_begin}
    AND T.year <= {year_end}
    AND T.month = {month}
    AND C.name = "{country}"
    '''.format(year_begin = year_begin, year_end = year_end,\
               month = month, country = country)
    #query the database
    df = pd.read_sql_query(cmd, conn)
    conn.close()
    return df

# §3. Write a Geographic Scatter Function for Yearly Temperature Increases

## Fig 1. Geographic Plot

Before we define our main function, we would also want to write a *coef* function that calculates the first coefficient of a linear regression model at a certain station:

In [ ]:
def coef(data_group):
    x = data_group[["Year"]]
    y = data_group["Temp"]  
    LR = LinearRegression()
    LR.fit(x, y)
    return LR.coef_[0]

Now we should define our major function that helps us visualize the temperature changes.

In [ ]:
def temperature_coefficient_plot(country, year_begin, year_end, 
                                 month,min_obs,**kwargs):
    """
    This function creates a plot that visualizes the temperature changes
    at different stations in a certain country during a given period.
    """
    #use the previous query we created
    df = query_climate_database(country,year_begin,year_end,month);
    #only accept data from stations with >= 10 observations
    df['obs'] = df.groupby(['NAME'])['Year'].transform("count")
    df = df[df['obs'] >= min_obs]
    
    #calculates the coefficients
    coefs = df.groupby(['NAME']).apply(coef)
    coefs = coefs.reset_index()
    #merge the coefficient dataset with df and round the coefs
    df = pd.merge(df, coefs, on = ['NAME'])
    df['coefficient'] = df[0].round(3)
    
    #create the figure
    fig = px.scatter_mapbox(df,
                        lat = "LATITUDE",
                        lon = "LONGITUDE",
                        hover_name = "NAME",
                        color = "coefficient",
                        color_continuous_midpoint = 0,
                        opacity = 0.5,
                        height = 300,
                        title = """
                        Estimates of yearly increase in temperature in {month}\
                        <br>for stations in {country}, years {begin} - {end}
                """.format(month = calendar.month_name[month],
                        country = country, begin = year_begin,
                        end = year_end),
                        **kwargs)
    fig.update_layout(margin={"r":0,"t":50,"l":0,"b":0},
                    title_yanchor = 'middle',
                    font_size=12,
                    title_font_size = 16)
    fig.update_layout(coloraxis_colorbar=dict(
    title="Estimated yearly<br>Increase (°C)"))
    
    #returns the figure
    return fig

In [ ]:
#choose a nice-looking color map
color_map = px.colors.diverging.RdGy_r

Now, if we want to examine the patterns of temperature changes in Indian stations from 1980 to 2020 specifically in January, we can run the codes below:

In [ ]:
#Need Modification

This looks really cool. We can see that approximately there are more areas where temperatures are increasing over years, comparing to decreasing. This might be a sign of global warming.

# §4. Create Two More Interesting Figures

## Fig 2. Monthly Temperature Plot

The first extra plot I want to draw can be asked to answer the following question: how did average temperature change every year for a certain country, in each month of the year?

If the question seems a bit hard to understand, looking at my code below might help expalin a bit.

The query below retrieves the data in a similar way as query_1, but we don't have to specify the month:

In [ ]:
def query_2(country, year_begin, year_end):
    conn = sqlite3.connect("climate.db")
    #write our command as a string
    cmd = \
    '''
    SELECT S.name,C.name as Country, T.year,T.month,T.temp
    FROM stations S
    LEFT JOIN temperatures T ON S.id = T.id
    LEFT JOIN countries C ON substring(T.id,1,2) = C.`FIPS 10-4`
    WHERE T.year >= {year_begin}
    AND T.year <= {year_end}
    AND C.name = "{country}"
    '''.format(year_begin = year_begin, year_end = year_end,\
               country = country)
    #read the data into our dataframe
    df = pd.read_sql_query(cmd, conn)
    conn.close()
    return df

Now we want to actually define our plotting function as below:

In [ ]:
def monthly_temp_plot(country, year_begin, year_end):
    '''
    This function calculates the average monthly temperature in a
    specific country over the given years, displaying the pattern of
    temperature change over year during each month.
    '''
    #prepare the dataframe needed
    df = query_2(country, year_begin, year_end)
    df = df.groupby(['Year','Month'])['Temp'].aggregate(np.mean)
    df = df.reset_index()
    
    #change the "month" column from numbers to names for visualization
    #purposes
    df['Month'] = df['Month'].apply(lambda x: calendar.month_abbr[x])
    
    #create the figure, with one line representing a specific month
    #fig,ax=plt.subplots(figsize=(10,8))
    ax = sns.lineplot(data = df, x = "Year", y = "Temp", hue = "Month", 
             sizes = (600,500),palette = "hls")
    #add legend, labels and titles
    ax.legend(bbox_to_anchor=(1.02, 1), loc='upper left', borderaxespad=0)
    ax.set_ylabel("Average Monthly Temp")
    ax.set_title('''Average Monthly Temperature in {country},
    from {begin} to {end}'''
                 .format(country = country, begin = year_begin,
                      end = year_end))
    
    fig = ax.get_figure()

Finally we can perform our analysis! In particular, I am curious about the change in temperature in Antarctica, and see the temperature difference in each month over time. I would run the function as below:

In [ ]:
monthly_temp_plot("Antarctica", 1990, 2020)

This result is pretty surprising! Indeed the graph shows that average monthly temperature is declining over time in Antarctica. Interesting.

## Fig 3. Extreme Temperature Comparison Plot

My third graph, as you can see from the plot name, is used to compare the extreme temperature for two countries over the same time period ( two scatterplots will be created). <br>We still need a new query for this function; however, I want to point out that I'm using a more efficient way to write my query (and function) because I calculated the summary statistics in the query step instead of in the major function, which should save quite a bit of memory & running time.

In [ ]:
def query_3(country, year_begin, year_end):
    #connect to database and write command as a string
    conn = sqlite3.connect("climate.db")
    cmd = \
    '''
    SELECT C.name as Country,T.year,ROUND(MAX(T.temp),2)
    as `Max Temp`,ROUND(MIN(T.temp),2) as `Min Temp`
    FROM Temperatures T
    LEFT JOIN countries C ON substring(T.id,1,2) = C.`FIPS 10-4`
    WHERE T.year >= {year_begin}
    AND T.year <= {year_end}
    AND C.name IN {country}
    GROUP BY C.name, T.year 
    '''.format(year_begin = year_begin, year_end = year_end,
              country = country)
    
    #create the dataframe we want
    df = pd.read_sql_query(cmd, conn)
    conn.close()
    return df

And next is our function:

In [ ]:
def extreme_temp_comparison_plot(country1,country2,year_begin,year_end):
    """
    This function compares the extreme temperature values in each year
    during the given time period for the two countrys. This function
    will create two plots, allowing us to make comparison.
    """
    df = query_3((country1, country2), year_begin, year_end)

    #choose a pretty template
    pio.templates.default = "plotly_white"
    #draw the scatterplot
    fig = px.scatter(data_frame = df,
                x = "Year",
                y = ["Max Temp","Min Temp"],
                facet_col = "Country",
                color_discrete_map = {"Max Temp":"tomato",
                                     "Min Temp":"deepskyblue"},
                width = 700,
                height = 400,
                opacity = 0.8)
    #update the layout
    fig.update_layout(title='''Extreme Temperature Dynamics of {C1} and
    {C2} during {begin} and {end}'''.format(C1 = country1, C2 = country2,
                                begin = year_begin, end = year_end),
                yaxis_title="Extreme Temperatures (Max & Min)",
                legend_title="Extreme Type",
                font_size = 12,
                title_font_size = 16)
    #return figure
    return fig

I want to look at the difference and similarity between extreme temperatures in China and Japan, two neighboring Asian countries, over recent decades:

In [ ]:
extreme_temp_comparison_plot("China","Japan",1980,2020)

This plot also provides valuable insight into climate changes over the world. We can see that abnormally, there is a big jump in the lowest temperature in Japan (from -18.49 in 2010 to -7.66 in 2011), and that the lowest value never returns back to the original level but stays at the high level.

I want to conclude with the fact that the accuracy of these plots can be significantly affected by the raw data itself, provided that the function designs work well. But overall, this should be a very interesting blog!